{%extends "layout.html"%}
{% load static %}

{% block css_files %} 
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
{% endblock %}

{% block title %} Log  {% endblock %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        {% include 'includes/_mesaj.html' %}

        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Görevli Düzenle</h6>
            
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">
                    <th scope="col">İsim</th>
                    <th scope="col">Soyisim</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for gorevli in gorevliler %}
                            <tr>
                                <td>{{gorevli.first_name}}</td>
                                <td>{{gorevli.last_name}}</td>
                                <td>{{gorevli.email}}</td>
                                
                                <td>
                                    <a href="{% url 'varolanekle' gorevli.id  %}" class="btn btn-sm btn-success">Ekle</a>
                                </td>
                            </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->


{% endblock %}